[Desktop Entry]

Type=Application
Version=1.0
Name=Log
Comment=Log and time-tracking utility
Path=/usr/bin
Exec=log
Icon=icon.png
Terminal=false
Categories=Productivity;
